body {
    padding-top: 50px;
    padding-bottom: 20px;
    background:#eee;
    font-family: dosisregular,Tahoma, Geneva, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 1px rgba(0,0,0,0.1);
    letter-spacing:1px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 1.5%;
}
h4{
    font-weight:600;
    font-size:1.35em;
}
footer{
    font-size:0.82em;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar{
    background:none;
    color:#fff;
    border:none;
}
.navbar-inverse .navbar-brand {
    float: left;
    font-size: 30px;
    color: #222;
    padding:10px 10px;
}
.navbar-header {
    width: 83%;
    margin: 0 auto;
}
@media (min-width: 768px){
    .navbar > .container .navbar-brand {
        margin-left: 0px;
    }
}
.navbar-inverse .navbar-brand:hover {
    color: #222;
}
.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
a:hover{
    color:#d73327;
}
.container{
    width: 90%;
    max-width: 90%;
}
.container-header{
    background:#fff;
}
.container-navi{
    background:#d73327;
    padding-left:0;
    padding-right:0;
    width:100%;
    max-width:100%;
}
.container-navigation{
    background: #D73327;
    margin: 0 auto;
}
@media (min-width: 768px){
    .navbar-nav {
        float: none;
        margin: 0;
    }
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #e0e0e0;
}
.nav{
    width: 90%;
    margin: 0 auto;
    background: #BB1D1A;
    white-space:nowrap;
}
.nav:after {
    content:'';
    clear:both;
    display:table;
}
.nav li{
    border-right:1px solid #CC1C21;
    display: inline-block;
    float:left;
}
.nav li:hover{
    background-color:#6d0707;
}
.nav li:last-child,.nav li:nth-last-child(2){
    float:right !important;
}
.nav li:nth-last-child(3){
    border:none;
}
.navbar-nav > li > a {
    padding: 10px 26px;
    font-size: 0.95em;
}
/***FOR THE DROP DOWNS***/
ul.nav li.dd_list ul{
	display:none;
	position:absolute;
	padding:0px;
 	margin:0 0 0 -0.8px;
 	width:220px;
 	z-index:2000;
}
.nav li.dd_list a{
	padding:14px 14px 6px 12px;
}
ul.nav li:hover ul{ 
    display:block;
}
ul.nav li ul li{
	display:block;
	width:220px;
	font-size: 1.1em;
	background-color:#900b0b !important;
    padding: 10px 0;
}
ul.nav li ul li:hover{
	background-color:#6d0707 !important;
	padding-left:5px;
}
ul.nav li ul li a{
    padding: 10px 26px;
	font-size: 0.8em;
    color: #fff;
}
ul.nav li ul li a:hover{
    color: #e0e0e0;
}

/***END FOR THE DROP DOWNS***/
.body-content{
    margin: 1.5% auto;
    background: #fff;
}

/* Set width on the form input elements since they're 100% wide by default */
.form-control {
    border-radius: 0;
    max-width: 250px;
    letter-spacing:1px;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    font-size:0.85em;
    box-shadow:none;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #fff;
    border:1px solid #eee;
}

.small-textbox{
    max-width:150px;
}
.textbox-faint-border{

}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    border-radius: 0;
    border:1px solid #bdbdbd;
    color:#000;
    background:#bdbdbd;
    letter-spacing:1px;
}
button:hover, html input:hover[type="button"], input:hover[type="reset"], input:hover[type="submit"] {
    border:1px solid #bdbdbd;
}
label {
    font-weight:normal;
}
.control-label{
    /*text-transform:uppercase;*/
    font-weight:normal;
    text-align:left !important;
    color:#505050;
}
.blank-text{
    color:#fff;
}
.dept-state{
    display:none;
}
.map-err , .web-err,.field-validation-error{
	font-size: 12px;
    color: #d73327;
	display:block;
}
.web-err{
	font-weight: 600;
}

/***********************VIEW NAVIGATION CSS*************************/
/* 1765af  1f82c9 */
.viewTable{
	width:100%;
}
.viewTable tr th , .viewTable tr td {
	font-size:0.92em; /* 15/12 */
	font-weight:normal;
	padding:10px;
	cursor:pointer;
	vertical-align: middle;
}
.viewTable tr th , .viewTableHeader{
    color:#fff;
    background:#777;
	border-right:1px solid #888;
    padding:10px;
    font-size:0.94em; /* 15/12 */
	font-weight:normal;
}
.viewTable tr th , .viewTableHeader a{
    color:#fff;
    text-decoration:none;
    font-size:0.9em; /* 15/12 */
}
.viewTable tr th:hover , .viewTableHeader:hover{
    background:#127bbc;
}
.viewTable tr td{
	border-right:0.1em solid #eee;
	border-bottom:1px solid #eee;
	color:#000;
    padding:7px;
    font-size:0.8em;
}
.viewTable tr td i{
	color:#028dd1;
	font-size:1.2em;
}
.viewTable tr.summaryRow td{
	background:#e8e8e8;
	color:#103769;
	font-size:1.2em; /* 13/12 */
	font-weight:bold;
}
.viewTableFooter{
    font-size:0.94em; /* 15/12 */
	font-weight:600;
}
.viewTableFooter td a , tfoot td a{
    padding:20px 10px;
    font-weight:600;
}
tfoot tr td{
    padding:20px 20px;
    font-weight:600;
}
.hotspot{	
	font-size:1.7em; /* 20.4/12 */
	color:#2088b4;
}
.excelTable .viewTable tr td {
	border-bottom:1px solid #d0d0d0;
	padding:6px; 
	color:#000;
	/*white-space: nowrap;*/
}
.divView{
	width:50%;
	margin:0 auto;
}
#viewbtnLeft {
	float:left;
	display: inline;
	margin: 0;
	padding: 0;
}
#viewbtnRight {
	float:right;
	display: inline;
	margin: 0;
	padding: 0;
}

tr.view_rpt td{
	border-bottom:1px solid #d0d0d0;
	/*padding:2px;*/
	background-color: #F7F7F7;
}

td.view_rpt {
	border-bottom:1px solid #d0d0d0;
	padding:2px;
}

tr.view_rpt_log td{
	/*padding:2px;*/
	font-weight:bold;
	background-color:#EEE; 
	border-bottom:1px solid #d0d0d0;
	border-right:1px solid #d0d0d0;
}

tr.over td{background-color: #e8e8e8;cursor:pointer;}

tr.viewActive td{background-color: #FFFAFA;cursor:pointer;}

/**FOR THE DISPLAY TABLE**/
.inputTargetGridInitiate tr th{
    font-size:0.8em;
}
/**FOR THE APPROVAL/AUDIT HISTORY TABLE**/
.approvalhistory tr th{
    font-size:0.8em;
}

tr#sum_row td{
    padding:11px;
}
.edit-mode {
    width:90px;
}
/*input[type=text].edit-mode{
    border:none;
    height: 25px;
    padding: 4px;
}*/
.edit-user, .save-user{
    display:inline-block;
    width:auto;
}
.edit-user display-mode{

}
.save-user edit-mode{
}
.display-mode{

}
.col1Width{
    width: 50px;
}
.col2Width{
    width: 200px;
}
.has-delete:after {
  font-family: "Glyphicons Halflings";
  content: "\e020";
  color:#d73327;
}
.tgtvals{
    border:1px solid #fafafa;
    height: 25px;
    padding: 4px;
    letter-spacing:1px;
    outline:none;
}
.tgtvals:hover{
    border:1px solid #eee;
}
tr#sum_row td{
    font-weight:600;
}
tr#sum_row td:first-child{
    text-align:right;
}
.no-border{
    border:none;
}
.no-border:hover{
    border:none;
}
.employee_number{
    width:50px;
}
.grade{
    width:20px;
}
.errorRow {
	border-bottom:1px solid red;
}
tr.errorRow td {
	background-color:#FFC;
}

.appimage {
    border: 1px solid #ddd;
    /*border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;*/
    height: 100px;
    width: 100px;
    margin:0 auto;
    background-size:cover;
    background-repeat:no-repeat;
    float: left;
}

/*Accordion Modifications*/
.ui-accordion .ui-accordion-header {
    margin: 2px 0 0 0;
    padding: 0.9em 1em 0.9em 2em;
    font-size: 110%; 
    font-weight: 600;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #eee;
    font-weight: 100;
    color: #222;
    background:#fff;
    border-radius:0
}
.ui-state-hover {
    background:#fff;
}

.ui-widget-content {
    background:none;
    border: 1px solid #eee;
}
.ui-widget {
    font-family: dosisregular,Tahoma, Geneva, Verdana, sans-serif;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-size: 1.1em;
    font-family: dosisregular,Tahoma, Geneva, Verdana, sans-serif;
}
.ui-accordion .ui-accordion-content-active{
    height:auto !important;
}

/**JQUERY UI MODIFICATIONS**/
/*.ui-widget-header {
    border: 1px solid #D73327;
    background: #D73327;
    color: #fff;
    font-weight: bold;
}*/
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-radius: 0px;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #bb1d1a;
    background: #D73327;
    color: #FFF;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover {
    border: 1px solid #D73327;
    background: #FFF;
    color: #c77405;
}
.ui-widget-content {
    border: 1px solid #ddd;
    background: #FFF;
    color: #333;
}
.ui-accordion-header:hover{
    border: 1px solid #eee;
    background: #FFF;
    color: #000;
}
/*.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: 1px solid #D73327;
    background: #fff;
    color: #D73327;
}*/
.ui-datepicker-header {
    border: 1px solid #D73327;
    background: #D73327;
    color: #000;
    font-weight: bold;
}
.ui-widget-header .ui-icon {
    /*background-image: none;*/
}
.ui-icon, .ui-widget-content .ui-icon {
    background-image: url("themes/base/images/ui-icons_222222_256x240.png") !important;
}
/**passport table*/
.passport-table{
    width:80%;
    /*border:1px solid #bdbdbd;*/
}
.passport-table tr th{
    padding:15px 15px 15px 0;
    /*border-bottom:1px solid #e0e0e0;*/
}
.passport-control{
    font:200 1.25em dosisregular !important;
    text-transform:uppercase;
    border: 1px solid #d0d0d0 !important;
    color:#000;
}
select.passport-control, select.passport-control>option{
    text-transform:capitalize
}
.no-uppercase-control{
    text-transform:capitalize;
}
.row-spacing{
    height:70px;
}
.passport-label{
    margin-bottom:3px !important;
}
.stye-textfield-as-label{
    border: 1px solid #eee !important;
    border-right: none !important;
    border-left:none !important;
    border-bottom:none !important;
    font-weight:bold !important;
    font-size:1.2em !important;
}
.document-link {
    color:#d73327 !important;
    text-decoration: underline !important;
}