@model IEnumerable<BioData_Update.Models.AppraisalApproverModel>

@{
    ViewBag.Title = "View HR Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid grid = new WebGrid(Model, rowsPerPage: 50);
}

<h4>@ViewBag.Title</h4>

@if (Model.Count() > 0)
{

    ViewBag.HasGrid = true;
    int rowNum = 0;

    @grid.GetHtml(

        tableStyle: "viewTable",
        fillEmptyRows: false,
        headerStyle: "viewTableHeader",
        mode: WebGridPagerModes.All,
        firstText: "<< First",
        previousText: "< Prev",
        nextText: "Next >",
        lastText: "Last >>",
        numericLinksCount: 50,
        columns: new[]
        {
            grid.Column("S/NO",format: item => rowNum = rowNum + 1),
            grid.Column("StaffName","Name"),
            grid.Column("StaffNumber","Staff ID"),
            grid.Column("RoleTitle","Role"  ),
            grid.Column("StatusCode","Status"  ),
            grid.Column("HRStaffNumber","Created By"),
            grid.Column("CreateDate","Create Date"),
            grid.Column("Action",format:(item) => Html.ActionLink("Edit", "RoleEdit", "OrgStructure",new { EntryKey=@item.EntryKey,Func="Edit"},null)),
            grid.Column("Delete",format:(item) => Html.ActionLink("Delete", "RoleEdit", "OrgStructure",new { EntryKey=@item.EntryKey,Func="Delete"},null))
       })
}
else
{
    <p>Nothing to display</p>
}